:root {
  --color-green: #a4d037;
  --color-yellow: #fecd35;
  --color-red: #f05230;
  --color-darkgrey: #15171a;
  --color-midgrey: #738a94;
  --color-lightgrey: #c5d2d9;
  --color-wash: #e5eff5;
  --color-darkmode: #151719;
  --font-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-serif: Georgia,Times,serif;
  --font-mono: Menlo,Courier,monospace;
  --button-bg-color: #ffffff;
  --button-text-color: var(--color-darkgrey);
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  font-family: var(--font-sans-serif);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

div {
  display: block;
}

a:link {
  color: var(--color-wash);
}

a:hover {
  color: var(--color-wash);
}

a:active {
  color: var(--color-wash);
}

code {
  font-size: 85%;
  background-color: var(--color-darkgrey);
}

/* Header */
.bg-black {
  background: #dc6a1a;
}

/* Body */
.bg-near-white {
  background: var(--color-darkmode);
}

/* =================== */
/* Excerpt / Main Page */
/* =================== */

/* Title on excerpt page */
h1.flex-none {
  color: var(--color-wash);
  font-family: var(--font-sans-serif);
  font-size: 2.4rem;
}

/* Post excerpts on main page */
.lh-copy {
  color: var(--color-midgrey);
  font-family: var(--font-serif);
}

h1.f3 {
  color: var(--color-wash);
  font-family: var(--font-sans-serif);
}

/* ========= */
/* Post page */
/* ========= */

/* "POSTS" header on upper post page */
aside {
  color: var(--color-wash);
  font-family: var(--font-sans-serif);
}

/* Post title */
h1.athelas {
  color: var(--color-wash);
  font-family: var(--font-sans-serif);
}

/* Date on post page */
time {
  color: var(--color-wash);
  font-family: var(--font-sans-serif);
}

/* Content on post page */
.f4 {
  color: var(--color-wash);
}
















